.ant-tabs-nav {
    margin: 0px !important;
}
.ant-tabs-tab-btn{
    color: black;
    font-weight: 400;
    font: "Montserrat", "Noto Sans TC", Helvetica, Arial, serif;
}
.ant-tabs-tab-active{
    .ant-tabs-tab-btn{
        color: #7367f0 !important;
    }
}

.ant-tabs-tab:first-of-type .ant-tabs-tab-remove {
    /* 隱藏首頁的tab的關閉按鈕 */
    display: none !important;
}