<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <system.web>
    <!--100MB-->
    <httpRuntime maxRequestLength="2097152" executionTimeout="3600"/>
</system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\StoreWeb.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
	      <environmentVariables>
          <!--For Debug  -->
          <!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />-->
          <!--For Staging  -->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
		    </environmentVariables>
	    </aspNetCore>
		<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>
     <security>
    <requestFiltering>
      <!-- Handle requests up to 2 GB -->
      <requestLimits maxAllowedContentLength="2147483648" />
    </requestFiltering>
  </security>
    </system.webServer>
  </location>
</configuration>
