/****** Object:  UserDefinedFunction [POVWeb].[udfNoGet]    Script Date: 2022/11/9 下午 08:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[udfHadAuthority] 
-- Desc：檢查特定作業是否有特定權限
-- Author：MoonFeng
-- LastModifyDTM：2022/11/9 21:16
-- Modify History：
-- 1. Initial. MoonFeng@2022/11/9 21:16
-- 
-- SAMPLE：
/*
print [POVWeb].[udfHadAuthority]('店櫃調出', 'GB', 'Print')
*/
--*********************************************************

ALTER Function [POVWeb].[udfHadAuthority] 
(
	@ProgramName varchar(30) -- 作業名稱
	,@UserID varchar(20)
	,@Kind VARCHAR(16) --Insert 新增；View 查詢；Edit 修改；Delete 刪除；Print 列印；Money 關帳；Cost 成本
)
RETURNS BIT
AS  
BEGIN 
	DECLARE @RET BIT = 0

	IF EXISTS(
		SELECT TOP 1 'YES'
		FROM [Users] AS U LEFT JOIN [GroupProgram] AS G ON U.GroupName = G.Group_Name
		WHERE U.UserID = @UserID
				AND G.Program_Name like @ProgramName + '%'
				AND (
					( @Kind = 'Insert' AND G.Insert_Flag = 1 )
					OR ( @Kind = 'View' AND G.View_Flag = 1 )
					OR ( @Kind = 'Edit' AND G.Edit_Flag = 1 )
					OR ( @Kind = 'Delete' AND G.Delete_Flag = 1 )
					OR ( @Kind = 'Print' AND G.Print_Flag = 1 )
					OR ( @Kind = 'Money' AND G.Money_Flag = 1 )
					OR ( @Kind = 'Cost' AND G.Cost_Flag = 1 )
				)
	) SET @RET = 1

	RETURN @RET
END

