USE [TEST5_NEW]
GO
/****** Object:  StoredProcedure [POVWeb].[uspTransferOutDel]    Script Date: 2022/12/14 下午 02:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspTransferOutDel]
-- Desc：調出作業-刪除資料
-- Author：MoonFeng
-- LastModifyDTM：2022/12/14 14:56
-- Modify History：
-- 1. Initial. MoonFeng@2022/12/14 14:56
-- 
-- SAMPLE：
/*
DECLARE	@;THROW 6636001, @O_MSG, 1;_value int,
		@O_MSG nvarchar(100)=''

EXEC	@;THROW 6636001, @O_MSG, 1;_value = [POVWeb].[uspEmpOnDutyDelEmpOnDuty]
		@YearMonth = N'20227',
		@Item = 2,
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	';THROW 6636001, @O_MSG, 1; Value' = @;THROW 6636001, @O_MSG, 1;_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspTransferOutDel] 
(
	@TransferId VARCHAR(20)
	, @Editor VARCHAR(16)
	, @O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	--; THROW 6636001, 'uspTransferOutUpdItem 待開發', 1;
	--DECLARE	@YearMonth VARCHAR(8) = '202207'

	--Initial Variablies*******************************************************
	DECLARE 
		@TaskTitle VARCHAR(128) = '店櫃調出作業'
		, @TransferInStoreID AS VARCHAR(8) = ''
		, @TransferOutStoreID AS VARCHAR(8) = ''
		, @TransferDT AS VARCHAR(8) = ''
		, @ModifyDT AS VARCHAR(8) = convert(varchar, getdate(), 112)
		, @TempString AS NVARCHAR(MAX) = ''

	--Check Parameters*********************************************************
	-- 填單人員 FillPerson
	IF NOT EXISTS(Select EmpName From Employee Where EmpID=@Editor) BEGIN
		SET @O_MSG = '員工代號輸入錯誤：' + @Editor
		;THROW 6636001, @O_MSG, 1;
	END

	--找不到調貨單號，直接;THROW 6636001, @O_MSG, 1;
	IF NOT EXISTS(SELECT 1 FROM Transfer WHERE TransferID = @TransferId) BEGIN
		SET @O_MSG = '找不到' + @TaskTitle + '單號：' + @TransferId
		;THROW 6636001, @O_MSG, 1;
	END

	-- 調貨單號 TransferID 
	SELECT TOP 1 @TransferInStoreID = TranInStore, @TransferOutStoreID = TranOutStore, @TransferDT = TranDate  
	FROM Transfer 
	WHERE TransferID = @TransferId

	--BIZ**********************************************************************
	---- 檢查調出庫點關帳日期  
	--SET @TempString = ''
	--SELECT @TempString = CloseDate FROM CloseAccount WHERE CloseClass = 3 AND StoreID = @TransferInStoreID AND CloseDate >= @ModifyDT
	--IF ISNULL(@TempString, '') <> ''  BEGIN
	--	SET @O_MSG = '調出庫點[' + @TransferInStoreID +']已關帳至[' + @TempString + ',數據不允許存檔!'
	--	;THROW 6636001, @O_MSG, 1;
	--END

	---- 檢查調出庫點關帳日期  
	--SELECT @TempString = CloseDate FROM CloseAccount WHERE CloseClass = 3 AND StoreID = @TransferOutStoreID AND CloseDate >= @ModifyDT
	--IF ISNULL(@TempString, '') <> ''  BEGIN
	--	SET @O_MSG = '調出庫點[' + @TransferInStoreID +']已關帳至[' + @TempString + ',數據不允許存檔!'
	--	;THROW 6636001, @O_MSG, 1;
	--END

	---- 此調出單中的商品調出庫點已經收到,如需要刪除請先清除調出單！
	--IF EXISTS(SELECT TOP(1) 1 FROM Transfer WHERE TranoutID = @TransferId AND MODE = 2) BEGIN
	--	SET @O_MSG = '此調出單中的商品調出庫點已經收到,如需要刪除請先清除調出單！'
	--	;THROW 6636001, @O_MSG, 1;
	--END

	BEGIN TRY
		BEGIN TRANSACTION;

		-- GoodStorage_Update
		INSERT INTO GoodStorage_Update (
			GoodId, SizeNo, Store
			, Qty1, Qty2, Qty3, Qty4, Qty5, Qty6, Qty7, Qty8, Qty9, Qty10
			, Qty11, Qty12, Qty13, Qty14, Qty15, Qty16, Qty17
			, TotalQty
			, TotalSellNum
			, ChangeDate, ChangePerson, StoreShelfID, DoFlag
			) 
	    SELECT 
			GoodID, SizeNo, TranOutStore
			, -TranNum1, -TranNum2, -TranNum3, -TranNum4, -TranNum5, -TranNum6, -TranNum7, -TranNum8, -TranNum9, -TranNum10
			, -TranNum11, -TranNum12, -TranNum13, -TranNum14, -TranNum15, -TranNum16, -TranNum17
			, -TotalTranNum
			, TranAmount
			, @ModifyDT, @Editor, '', 'POVWeb.TransferOut.Del：' + @TransferID
		  FROM Transfer WHERE TransferID = @TransferId

		-- 刪除調撥資料檔
		DELETE FROM Transfer WHERE TransferID = @TransferId

        COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;

		--SELECT 
		--	ERROR_NUMBER() AS ErrorNumber
		--	, ERROR_SEVERITY() AS ErrorSeverity
		--	, ERROR_STATE() AS ErrorState
		--	, ERROR_PROCEDURE() AS ErrorProcedure
		--	, ERROR_LINE() AS ErrorLine
		--	, ERROR_MESSAGE() AS ErrorMessage

		SET @O_MSG = @TaskTitle + '-刪除資料失敗。' + ERROR_MESSAGE() 
		;THROW 6636001, @O_MSG, 1;

	END CATCH	

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
