SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpClockInDelPunchJob]
-- Desc：刪除員工打卡資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/5 13:22
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/5 13:22
-- 
-- SAMPLE：
/*
SELECT * FROM EmpClockIn WHERE EMPID = 'moon'

DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpClockInDelPunchJob]
		@EmpID = N'moon',
		@ClockStore = N'010',
		@ClockDate = N'20220701',
		@ClockTime = N'16:21:23',
		@Modifier = N'TEST',
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value

SELECT * FROM EmpClockIn WHERE EMPID = 'moon'
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpClockInDelPunchJob] (
	@EmpID AS VARCHAR(4),
	@ClockStore AS VARCHAR(8),
	@ClockDate AS VARCHAR(8) = '',
	@ClockTime AS VARCHAR(8) = '',
	@Modifier AS VARCHAR(4) = '',
	
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Initial Variablies*******************************************************

	--Check Parameters*********************************************************
	IF NOT EXISTS( 
		SELECT COUNT(1) FROM EmpClockIn 
		WHERE EmpID = @EmpID
		  AND ClockStore = @ClockStore
		  AND ClockDate = @ClockDate 
		  AND ClockTime = @ClockTime
		  HAVING COUNT(1) < 2
	) BEGIN
		SET @O_MSG = '打卡資料不可超過一筆!' + '卡號:' + @EmpID + '；店櫃編號:' + @ClockStore + '；打卡日期:' + @ClockDate + '；打卡時間:' + @ClockTime 
		RETURN
	END

	--BIZ**********************************************************************
	DELETE EmpClockIn
	WHERE EmpID = @EmpID 
	  AND ClockStore = @ClockStore
	  AND ClockDate = @ClockDate 
	  AND ClockTime = @ClockTime

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO