USE [TEST5_NEW]
GO
/****** Object:  StoredProcedure [POVWeb].[uspBarCodeGoodstorageForm]    Script Date: 2022/12/21 上午 10:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [POVWeb].[uspBarCodeGoodstorageForm]
(
	 @SellBranch varchar(20)
	,@Bar varchar(50)
	,@OrderNumCheck varchar(20)
	,@RequireNumCheck varchar(20)
	,@ShowMode varchar(1)
	,@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN	

	Declare @GoodID as varchar(20)=''
	IF @ShowMode<>'0' And @ShowMode<>'1'
	BEGIN
		Set @O_MSG='種類輸入錯誤!'
		RETURN
	END
	Select @GoodID=GoodsID From GoodsBar Where Bar=@Bar
	IF @GoodID='' 
	Set @GoodID=@Bar
	IF Not EXISTS(Select * From Goods Where GoodID Like @GoodID+'%')
	BEGIN
		Set @O_MSG='商品不存在!'
		RETURN
	END
	
	DECLARE @tblGridTmpA AS TABLE(
	 TransferID varchar(20),ClientName varchar(200),GoodID varchar(20),SizeNo varchar(2),StorageTotalNum Float
	,StorageNum01 Float,StorageNum02 Float,StorageNum03 Float,StorageNum04 Float,StorageNum05 Float,StorageNum06 Float,StorageNum07 Float,StorageNum08 Float,StorageNum09 Float,StorageNum10 Float,StorageNum11 Float,StorageNum12 Float,StorageNum13 Float,StorageNum14 Float,StorageNum15 Float,StorageNum16 Float,StorageNum17 Float
	,StoreShelfID varchar(5),Store varchar(20),StoreFlag Bigint,OrderFlag varchar(2),SpecialPrice Float
	)
	Insert Into @tblGridTmpA
	SELECT cast('' as varchar(20)) AS TransferID,C.ClientName,GS.GoodID,S.SizeNo,GS.StorageTotalNum,GS.StorageNum01,GS.StorageNum02,GS.StorageNum03,GS.StorageNum04,GS.StorageNum05,GS.StorageNum06,GS.StorageNum07
	,GS.StorageNum08,GS.StorageNum09,GS.StorageNum10,GS.StorageNum11,GS.StorageNum12,GS.StorageNum13,GS.StorageNum14,StorageNum15,GS.StorageNum16,GS.StorageNum17,GS.StoreShelfID,GS.Store
	,(Case When GS.Store=@SellBranch Then 1 Else 2 End) As StoreFlag,'0' As OrderFlag ,Cast(0 As Float) As SpecialPrice  
	  FROM GoodStorage GS INNER JOIN Client C ON GS.Store=C.ClientID LEFT JOIN Size S ON GS.SizeNo=S.SizeNo 
	 WHERE GS.GoodID Like @GoodID+'%' And C.Display<>'1'   
	   And GS.Store<>'0ZZZZ'
	IF @ShowMode='0'
	BEGIN
		Insert Into @tblGridTmpA
		SELECT cast('' as varchar(20)) AS TransferID,C.ClientName,GS.GoodID,S.SizeNo,GS.StorageTotalNum,GS.StorageNum01,GS.StorageNum02,GS.StorageNum03,GS.StorageNum04,GS.StorageNum05,GS.StorageNum06,GS.StorageNum07
		,GS.StorageNum08,GS.StorageNum09,GS.StorageNum10,GS.StorageNum11,GS.StorageNum12,GS.StorageNum13,GS.StorageNum14,StorageNum15,GS.StorageNum16,GS.StorageNum17,GS.StoreShelfID,GS.Store
		,(Case When GS.Store=@SellBranch Then 1 Else 2 End) As StoreFlag,'0' As OrderFlag ,Cast(0 As Float) As SpecialPrice  
		  FROM GoodStorage GS INNER JOIN Client C ON GS.Store=C.ClientID LEFT JOIN Size S ON GS.SizeNo=S.SizeNo 
		 WHERE GS.GoodID Like @GoodID+'%' And C.Display<>'1'   
		   And GS.Store='0ZZZZ'
	END
	IF @OrderNumCheck='1'
	BEGIN
		Insert Into @tblGridTmpA
		Select '' as TransferID,CC.ClientName,SS.GoodID,SS.SizeNo,Sum(SS.TotalSellNum - IsNull(M.TakeNum,0)),
		Sum(SS.SellNum1 - (Case SS.SizePosition When 1 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum2 - (Case SS.SizePosition When 2 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum3 - (Case SS.SizePosition When 3 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum4 - (Case SS.SizePosition When 4 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum5 - (Case SS.SizePosition When 5 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum6 - (Case SS.SizePosition When 6 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum7 - (Case SS.SizePosition When 7 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum8 - (Case SS.SizePosition When 8 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum9 - (Case SS.SizePosition When 9 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum10 - (Case SS.SizePosition When 10 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum11 - (Case SS.SizePosition When 11 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum12 - (Case SS.SizePosition When 12 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum13 - (Case SS.SizePosition When 13 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum14 - (Case SS.SizePosition When 14 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum15 - (Case SS.SizePosition When 15 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum16 - (Case SS.SizePosition When 16 Then IsNull(M.TakeNum,0) Else 0 End)),
		Sum(SS.SellNum17 - (Case SS.SizePosition When 17 Then IsNull(M.TakeNum,0) Else 0 End)),
		'' As StoreShelfID,
		SS.SellStore,
		(Case When SS.SellStore=@SellBranch Then 1 Else 2 End) As StoreFlag,
		'1' As OrderFlag,Cast(0 As Float) As SpecialPrice 
		From Sell SS 
		Inner Join MemberOrder M ON SS.SellID=M.PurchaseID And SS.Item=M.PurchaseItem And M.DealFlag In ('0','1') 
		Inner Join Client CC ON SS.SellStore=CC.ClientID 
		Where SS.GoodID Like @GoodID+'%' 
		Group By CC.ClientName,SS.GoodID,SS.SizeNo 
		,SS.SellStore

	END
	IF @RequireNumCheck='1'
	BEGIN
		Insert Into @tblGridTmpA
		Select '' as TransferID,CC.ClientName,SS.GoodID,SS.SizeNo,Sum(IsNull(SS.Num,0)),
		Sum((Case SS.SizePosition When 1 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 2 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 3 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 4 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 5 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 6 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 7 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 8 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 9 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 10 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 11 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 12 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 13 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 14 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 15 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 16 Then IsNull(SS.Num,0) Else 0 End)),
		Sum((Case SS.SizePosition When 17 Then IsNull(SS.Num,0) Else 0 End)),
		'' As StoreShelfID,
		SS.TranStore AS SellStore,
		(Case When SS.TranStore=@SellBranch Then 1 Else 2 End) As StoreFlag,
		'2' As OrderFlag,Cast(0 As Float) As SpecialPrice 
		From SellDing SS 
		Inner Join Client CC ON SS.TranStore=CC.ClientID 
		Where SS.GoodID Like @GoodID+'%'
		Group By CC.ClientName,SS.GoodID,SS.SizeNo 
		,SS.TranStore
	END

	IF @ShowMode='1'
	BEGIN
		Insert Into @tblGridTmpA(TransferID,clientname,GoodID,sizeno,StorageTotalNum,
		StorageNum01,StorageNum02,StorageNum03,StorageNum04,StorageNum05,
		StorageNum06,StorageNum07,StorageNum08,StorageNum09,StorageNum10,
		StorageNum11,StorageNum12,StorageNum13,StorageNum14,StorageNum15,
		StorageNum16,StorageNum17,StoreShelfID,Store,StoreFlag,orderflag) 
		Select T.TransferID,c1.ClientName+'→'+c.ClientName as clientname,T.GoodID,T.Sizeno,sum(ISNULL(totaltrannum,0)) as StorageTotalNum,
		 sum(ISNULL(tranNum1,0)),sum(ISNULL(tranNum2,0)),sum(ISNULL(tranNum3,0)),sum(ISNULL(tranNum4,0)),sum(ISNULL(tranNum5,0)),
		 sum(ISNULL(tranNum6,0)),sum(ISNULL(tranNum7,0)),sum(ISNULL(tranNum8,0)),sum(ISNULL(tranNum9,0)),sum(ISNULL(tranNum10,0)),
		 sum(ISNULL(tranNum11,0)),sum(ISNULL(tranNum12,0)),sum(ISNULL(tranNum13,0)),sum(ISNULL(tranNum14,0)),sum(ISNULL(tranNum15,0)),
		 sum(ISNULL(tranNum16,0)),sum(ISNULL(tranNum17,0)),'',factstore,'3','3' 
		 From [Transfer] T 
		 Left join Client C on T.FactStore=C.clientid  
		 left join Client c1 on T.TranOutStore=C1.clientid  
		WHERE t.Mode ='1' And IsNull(t.DealFlag,'') <> '*' and t.GoodID Like @GoodID+'%'
		group by T.TransferID,c1.ClientName,c.ClientName,t.GoodID,t.sizeno,t.factstore 
		 
		Insert Into @tblGridTmpA(TransferID,clientname,GoodID,sizeno,StorageTotalNum,
		StorageNum01,StorageNum02,StorageNum03,StorageNum04,StorageNum05,
		StorageNum06,StorageNum07,StorageNum08,StorageNum09,StorageNum10,
		StorageNum11,StorageNum12,StorageNum13,StorageNum14,StorageNum15,
		StorageNum16,StorageNum17,StoreShelfID,Store,StoreFlag,orderflag) 
		 Select T.TranOutID,c1.ClientName+'→'+c.ClientName,t.GoodID,t.sizeno,sum(ISNULL(totaltrannum,0)*(-1)),
		 sum(ISNULL(T.tranNum1,0)*(-1)),sum(ISNULL(T.tranNum2,0)*(-1)),sum(ISNULL(T.tranNum3,0)*(-1)),sum(ISNULL(T.tranNum4,0)*(-1)),sum(ISNULL(T.tranNum5,0)*(-1)),
		 sum(ISNULL(T.tranNum6,0)*(-1)),sum(ISNULL(T.tranNum7,0)*(-1)),sum(ISNULL(T.tranNum8,0)*(-1)),sum(ISNULL(T.tranNum9,0)*(-1)),sum(ISNULL(T.tranNum10,0)*(-1)),
		 sum(ISNULL(T.tranNum11,0)*(-1)),sum(ISNULL(T.tranNum12,0)*(-1)),sum(ISNULL(T.tranNum13,0)*(-1)),sum(ISNULL(T.tranNum14,0)*(-1)),sum(ISNULL(T.tranNum15,0)*(-1)),
		 sum(ISNULL(T.tranNum16,0)*(-1)),sum(ISNULL(T.tranNum17,0)*(-1)),'',T.traninstore,'3','3' 
		 From [Transfer] t 
		 left join client c on t.traninstore=c.clientid  
		 left join client c1 on t.FactStore=c1.clientid  
		 left join @tblGridTmpA p on t.TranOutID=p.TransferID and p.StoreFlag='3' 
		WHERE t.Mode ='2' And IsNull(t.DealFlag,'') <> '*' and t.GoodID Like @GoodID+'%' AND P.TransferID is not null 
		group by T.TranOutID,c1.ClientName,c.ClientName,t.GoodID,t.sizeno,t.traninstore 		 
	END
	UPDATE @tblGridTmpA Set SpecialPrice=[POVWeb].[udfGoodsPriceShow](GoodID,Store,CONVERT(varchar,GetDate(),112),'','1','')
	
	DECLARE @tblGridTmpB AS TABLE(
	 ClientName varchar(200),GoodID varchar(20),SizeNo varchar(2),StorageTotalNum Float,SpecialPrice Float
	,StorageNum01 Float,StorageNum02 Float,StorageNum03 Float,StorageNum04 Float,StorageNum05 Float,StorageNum06 Float,StorageNum07 Float,StorageNum08 Float,StorageNum09 Float,StorageNum10 Float,StorageNum11 Float,StorageNum12 Float,StorageNum13 Float,StorageNum14 Float,StorageNum15 Float,StorageNum16 Float,StorageNum17 Float
	,StoreShelfID varchar(5),Store varchar(20),StoreFlag Bigint,OrderFlag varchar(2),TotalSellNum Float
	)
	Insert Into @tblGridTmpB
	 Select clientname,GoodID,sizeno,sum(ISNULL(StorageTotalNum,0)) as StorageTotalNum,SpecialPrice,
	 sum(ISNULL(StorageNum01,0)) as StorageNum01,sum(ISNULL(StorageNum02,0)) as StorageNum02,sum(ISNULL(StorageNum03,0)) as StorageNum03,sum(ISNULL(StorageNum04,0)) as StorageNum04,sum(ISNULL(StorageNum05,0)) as StorageNum05,
	 sum(ISNULL(StorageNum06,0)) as StorageNum06,sum(ISNULL(StorageNum07,0)) as StorageNum07,sum(ISNULL(StorageNum08,0)) as StorageNum08,sum(ISNULL(StorageNum09,0)) as StorageNum09,sum(ISNULL(StorageNum10,0)) as StorageNum10,
	 sum(ISNULL(StorageNum11,0)) as StorageNum11,sum(ISNULL(StorageNum12,0)) as StorageNum12,sum(ISNULL(StorageNum13,0)) as StorageNum13,sum(ISNULL(StorageNum14,0)) as StorageNum14,sum(ISNULL(StorageNum15,0)) as StorageNum15,
	 sum(ISNULL(StorageNum16,0)) as StorageNum16,sum(ISNULL(StorageNum17,0)) as StorageNum17,StoreShelfID,Store,StoreFlag,orderflag,0 as TotalSellNum 
	 from @tblGridTmpA 
	 group by clientname,GoodID,sizeno,StoreShelfID,Store,StoreFlag,orderflag,SpecialPrice 
	
	UPDATE TB
	   Set TotalSellNum=T.TotalSellNum
	  From @tblGridTmpB TB
	  Join (
			Select GoodID,SizeNo,SellBranch
				  ,SUM(TotalSellNum) as TotalSellNum
			  From (
					Select S.GoodID,S.SizeNo,S.SellBranch,Sum(S.TotalSellNum)*-1 as TotalSellNum From Sell S Where S.SellMode='2' And EXISTS(Select * From @tblGridTmpB TB Where TB.GoodID=S.GoodID And TB.SizeNo=S.SizeNo And TB.Store=S.SellBranch) Group by S.GoodID,S.SizeNo,S.SellBranch
					Union All
					Select S.GoodID,S.SizeNo,S.SellBranch,Sum(S.TotalSellNum) as TotalSellNum From Sell S Where S.SellMode<>'2' And S.SellMode<>'5' And S.SellMode<>'8' And EXISTS(Select * From @tblGridTmpB TB Where TB.GoodID=S.GoodID And TB.SizeNo=S.SizeNo And TB.Store=S.SellBranch) Group by S.GoodID,S.SizeNo,S.SellBranch
				   ) A
			 Group
				by GoodID,SizeNo,SellBranch
			) T
		On TB.GoodID=T.GoodID And TB.SizeNo=T.SizeNo And TB.Store=T.SellBranch And TB.orderflag='0'

	Select 
		   TB.ClientName,TB.GoodID,TB.SizeNo,TB.StorageTotalNum,TB.SpecialPrice
		  ,StorageNum01,TB.StorageNum02,TB.StorageNum03,TB.StorageNum04,TB.StorageNum05,TB.StorageNum06,TB.StorageNum07,TB.StorageNum08,TB.StorageNum09,TB.StorageNum10,TB.StorageNum11,TB.StorageNum12,TB.StorageNum13,TB.StorageNum14,TB.StorageNum15,TB.StorageNum16,TB.StorageNum17
		  ,TB.StoreShelfID,TB.Store,TB.StoreFlag,(Case TB.OrderFlag When '1' Then '訂' When '2' Then '寄' When '3' Then '中' Else '' End) as OrderFlag,TB.TotalSellNum 
		  ,G.GoodName,G.Season,G.P_StyleA,G.P_StyleB,G.P_StyleC
		  ,G.P_StyleD,G.P_StyleE,G.Remark ,G.AdvicePrice,G.SpecialPrice as TSpecialPrice
		  ,S05.Sort05Name
		  ,S.Size01,S.Size02,S.Size03,S.Size04,S.Size05,S.Size06,S.Size07,S.Size08,S.Size09,S.Size10,S.Size11,S.Size12,S.Size13,S.Size14,S.Size15,S.Size16,S.Size17
		  , ISNULL(G.PicturePath3, '') AS ImgPath 
	  From @tblGridTmpB TB
	  Left
	  Join Goods G
		On TB.GoodID=G.GoodID 
	  Left
	  Join Sort05 S05
		On G.Sort05 =S05.Sort05ID 
	  Left
	  Join Size S
	    On TB.SizeNo=S.SizeNo 
	 Order 
	    by TB.StoreFlag,TB.Store,TB.GoodID,TB.SizeNO,TB.OrderFlag

	Select SUM(TotalSellNum) as TotalSellNum
	      ,SUM(StorageTotalNum*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageTotalNum
	      ,SUM(StorageNum01*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum01
	      ,SUM(StorageNum02*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum02
	      ,SUM(StorageNum03*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum03
	      ,SUM(StorageNum04*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum04
	      ,SUM(StorageNum05*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum05
	      ,SUM(StorageNum06*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum06
	      ,SUM(StorageNum07*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum07
	      ,SUM(StorageNum08*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum08
	      ,SUM(StorageNum09*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum09
	      ,SUM(StorageNum10*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum10
	      ,SUM(StorageNum11*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum11
	      ,SUM(StorageNum12*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum12
	      ,SUM(StorageNum13*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum13
	      ,SUM(StorageNum14*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum14
	      ,SUM(StorageNum15*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum15
	      ,SUM(StorageNum16*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum16
	      ,SUM(StorageNum17*(Case When OrderFlag=1 Then -1 Else 1 End)) as StorageNum17	      
	  From @tblGridTmpB

	select top 1 Picture,PictureDate from OnlinePIC
	Set @O_MSG=''
END





