SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpOnDutyGetYearMonthList]
-- Desc：取得已存在的排班月份-供輔助查詢用；
-- Author：MoonFeng
-- LastModifyDTM：2022/7/13 16:29
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/13 16:29
-- 
-- SAMPLE：
/*

*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpOnDutyGetYearMonthList]
	(
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************

	--Initial Variablies*******************************************************

	--Check Parameters*********************************************************

	--BIZ**********************************************************************
	SELECT YearMonth  
	FROM EMPONDUTY 
	GROUP BY YEARMONTH 
	ORDER BY YEARMONTH DESC

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO