SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpOnDutyGetEmpOnDutyList]
-- Desc：撈取員工排班資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/4 16:22
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/4 16:22
-- 
-- SAMPLE：
/*
DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpOnDutyGetEmpOnDutyList]
		@YearMonth = N'202207',
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpOnDutyGetEmpOnDutyList]
	(
	@YearMonth AS VARCHAR(8) = '',
	
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	--DECLARE	@YearMonth VARCHAR(8) = '202207'

	--Initial Variablies*******************************************************


	--Check Parameters*********************************************************
	--IF (IsNull(@Holiday, '') = '') BEGIN
	--	Set @O_MSG = '打卡方式錯誤>>' + CAST(@PunchType AS VARCHAR(2))
	--	RETURN
	--END

	--BIZ**********************************************************************
	
	--get empOnDutyList
	SELECT
			-- PK
			[YearMonth]
           ,[Item]

		   -- Auto fill in 
		   ,[EmpID],[EmpName],[DepID],[DepName]

           ,[Day1],[Day2],[Day3],[Day4],[Day5],[Day6],[Day7],[Day8],[Day9],[Day10]
		   ,[Day11],[Day12],[Day13],[Day14],[Day15],[Day16],[Day17],[Day18],[Day19],[Day20]
           ,[Day21],[Day22],[Day23],[Day24],[Day25],[Day26],[Day27],[Day28],[Day29],[Day30]
           ,[Day31]
           ,[DepID1],[DepID2],[DepID3],[DepID4],[DepID5],[DepID6],[DepID7],[DepID8],[DepID9],[DepID10]
		   ,[DepID11],[DepID12],[DepID13],[DepID14],[DepID15],[DepID16],[DepID17],[DepID18],[DepID19],[DepID20]
		   ,[DepID21],[DepID22],[DepID23],[DepID24],[DepID25],[DepID26],[DepID27],[DepID28],[DepID29],[DepID30]
		   ,[DepID31]

		   ---- default value
		   ,[Flag],[CheckEmpID],[CheckDate]
	FROM EmpOnDuty AS A
	WHERE 1=1
		AND A.YearMonth = @YearMonth
	ORDER BY A.EmpID, A.DepID, A.Item

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO