SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpOnDutyGetCommonList]
-- Desc：取得排班作業所需清單資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/27 15:15
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/27 15:15
-- 
-- SAMPLE：
/*
DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpOnDutyGetCommonList]
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpOnDutyGetCommonList] (
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
) AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************

	--Initial Variablies*******************************************************

	--Check Parameters*********************************************************

	--BIZ**********************************************************************
	-- get depInfoList
	SELECT 
		ClientID AS DepID
		, CASE IsNull(ClientShort, '') WHEN '' THEN ClientName ELSE ClientShort END AS DepName 
	FROM Client

	-- get empDutyTypeList
	SELECT DutyID, DutyName, StOnDutyTime, StOffDutyTime
	FROM EmpDutyTypeSetup
	WHERE NOT (IsNull(DutyName, '') = '' 
				AND IsNull(StOnDutyTime, '') = '' 
				AND IsNull(StOffDutyTime, '') = '')
	ORDER BY DutyID

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO