SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpOnDutyAddEmpOnDuty]
-- Desc：新增員工排班資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/22 15:55
-- Memo：因資料表設計為Single Table, 故採用ORM更新資料。MoonFeng@2022/7/22 15:55
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/22 15:55
-- 
-- SAMPLE：
/*

*/
--*********************************************************


ALTER PROCEDURE [POVWeb].[uspEmpOnDutyAddEmpOnDuty]
	(
	-- PK
	@YearMonth AS VARCHAR(6),
	
	--Data
	@EmpID   AS VARCHAR(4),
	@DepID   AS VARCHAR(15),
	@Day1    AS VARCHAR(1) = '',
	@Day2    AS VARCHAR(1) = '',
	@Day3    AS VARCHAR(1) = '',
	@Day4    AS VARCHAR(1) = '',
	@Day5    AS VARCHAR(1) = '',
	@Day6    AS VARCHAR(1) = '',
	@Day7    AS VARCHAR(1) = '',
	@Day8    AS VARCHAR(1) = '',
	@Day9    AS VARCHAR(1) = '',
	@Day10   AS VARCHAR(1) = '',
	@Day11   AS VARCHAR(1) = '',
	@Day12   AS VARCHAR(1) = '',
	@Day13   AS VARCHAR(1) = '',
	@Day14   AS VARCHAR(1) = '',
	@Day15   AS VARCHAR(1) = '',
	@Day16   AS VARCHAR(1) = '',
	@Day17   AS VARCHAR(1) = '',
	@Day18   AS VARCHAR(1) = '',
	@Day19   AS VARCHAR(1) = '',
	@Day20   AS VARCHAR(1) = '',
	@Day21   AS VARCHAR(1) = '',
	@Day22   AS VARCHAR(1) = '',
	@Day23   AS VARCHAR(1) = '',
	@Day24   AS VARCHAR(1) = '',
	@Day25   AS VARCHAR(1) = '',
	@Day26   AS VARCHAR(1) = '',
	@Day27   AS VARCHAR(1) = '',
	@Day28   AS VARCHAR(1) = '',
	@Day29   AS VARCHAR(1) = '',
	@Day30   AS VARCHAR(1) = '',
	@Day31   AS VARCHAR(1) = '',
	
	@DepID1  AS VARCHAR(8) = '',
	@DepID2  AS VARCHAR(8) = '',
	@DepID3  AS VARCHAR(8) = '',
	@DepID4  AS VARCHAR(8) = '',
	@DepID5  AS VARCHAR(8) = '',
	@DepID6  AS VARCHAR(8) = '',
	@DepID7  AS VARCHAR(8) = '',
	@DepID8  AS VARCHAR(8) = '',
	@DepID9  AS VARCHAR(8) = '',
	@DepID10 AS VARCHAR(8) = '',
	@DepID11 AS VARCHAR(8) = '',
	@DepID12 AS VARCHAR(8) = '',
	@DepID13 AS VARCHAR(8) = '',
	@DepID14 AS VARCHAR(8) = '',
	@DepID15 AS VARCHAR(8) = '',
	@DepID16 AS VARCHAR(8) = '',
	@DepID17 AS VARCHAR(8) = '',
	@DepID18 AS VARCHAR(8) = '',
	@DepID19 AS VARCHAR(8) = '',
	@DepID20 AS VARCHAR(8) = '',
	@DepID21 AS VARCHAR(8) = '',
	@DepID22 AS VARCHAR(8) = '',
	@DepID23 AS VARCHAR(8) = '',
	@DepID24 AS VARCHAR(8) = '',
	@DepID25 AS VARCHAR(8) = '',
	@DepID26 AS VARCHAR(8) = '',
	@DepID27 AS VARCHAR(8) = '',
	@DepID28 AS VARCHAR(8) = '',
	@DepID29 AS VARCHAR(8) = '',
	@DepID30 AS VARCHAR(8) = '',
	@DepID31 AS VARCHAR(8) = '',

	@Modifier AS VARCHAR(8) = ''

	/* Auto fill in columns
	@Item AS int, -- Get 最新的int
	@EmpName AS VARCHAR(20) NOT NULL, -- SELECT ClientShort FROM Employee WHERE EmpID = @EmpID
	@DepName AS VARCHAR(20) NOT NULL, -- SELECT ClientShort FROM Client WHERE ClientID = @DepID
	@ChangeDate AS VARCHAR(8) NOT NULL, -- DB server time 
	@ChangePerson AS VARCHAR(4) NOT NULL, -- Same as @Modifier
	*/
)
AS
BEGIN
	SET NOCOUNT ON;
	--Test Variablies*******************************************************
	--DECLARE	@YearMonth VARCHAR(8) = '202207'
	--DECLARE	@EmpID VARCHAR(8) = '003'
	DECLARE @O_MSG VARCHAR(128) = ''

	--Check Parameters*********************************************************
	--同員工、部門、月份僅能單筆資料
	IF EXISTS (SELECT TOP 1 ITEM FROM EmpOnDuty WHERE YearMonth = @YearMonth AND EmpID = @EmpID AND DepID = @DepID) BEGIN
		Set @O_MSG = '資料重覆>>月份：' + @YearMonth + ' 員工：' + @EmpID + ' 店櫃：' + @DepID
		;THROW 6636001, @O_MSG, 1;
		--RETURN
	END

	--Initial Variablies*******************************************************
	DECLARE	@EmpName VARCHAR(20) = (SELECT EmpName FROM Employee WHERE EmpID = @EmpID)
	IF ISNULL(@EmpName, '') = '' BEGIN
		SET @O_MSG = '無此員工編號>>' + @EmpID
		;THROW 6636001, @O_MSG, 1;
	END

	DECLARE	@DepName VARCHAR(20) = (SELECT ClientShort FROM Client WHERE ClientID = @DepID)
	IF ISNULL(@DepName, '') = '' BEGIN
		SET @O_MSG = '無此店櫃代號>>' + @DepID
		;THROW 6636001, @O_MSG, 1;
	END

	DECLARE	
		@ChangeDate VARCHAR(20) = CONVERT(VARCHAR, GETDATE(), 112),
		@ChangePerson VARCHAR(4) = @Modifier,
		@TotalMorning AS tinyint = 0, 
		@TotalNoon AS tinyint = 0,
		@TotalAllDay AS tinyint = 0,
		@TotalBreak AS tinyint = 0,
		@Flag AS VARCHAR(1) = '',
		@CheckEmpID AS VARCHAR(4) = '',
		@CheckDate AS VARCHAR(8) = ''

	--BIZ**********************************************************************
	  INSERT INTO [dbo].[EmpOnDuty]
            (
			-- PK
			[YearMonth]
           ,[Item]

		   -- Auto fill in 
		   ,[ChangeDate],[ChangePerson]
		   
		   ,[EmpID],[EmpName],[DepID],[DepName]

           ,[Day1],[Day2],[Day3],[Day4],[Day5],[Day6],[Day7],[Day8],[Day9],[Day10]
		   ,[Day11],[Day12],[Day13],[Day14],[Day15],[Day16],[Day17],[Day18],[Day19],[Day20]
           ,[Day21],[Day22],[Day23],[Day24],[Day25],[Day26],[Day27],[Day28],[Day29],[Day30]
           ,[Day31]
           ,[DepID1],[DepID2],[DepID3],[DepID4],[DepID5],[DepID6],[DepID7],[DepID8],[DepID9],[DepID10]
		   ,[DepID11],[DepID12],[DepID13],[DepID14],[DepID15],[DepID16],[DepID17],[DepID18],[DepID19],[DepID20]
		   ,[DepID21],[DepID22],[DepID23],[DepID24],[DepID25],[DepID26],[DepID27],[DepID28],[DepID29],[DepID30]
		   ,[DepID31]

		   ---- default value
		   ,[TotalMorning],[TotalNoon],[TotalAllDay],[TotalBreak],[Flag]
           ,[CheckEmpID],[CheckDate]
		   )
     VALUES
			-- PK
           (@YearMonth, 
		   --(SELECT COUNT(1) + 1 FROM [EmpOnDuty] WHERE YearMonth = @YearMonth) -- item
		   (SELECT ISNULL(Max(Item), 0) + 1 FROM [EmpOnDuty] WHERE YearMonth = @YearMonth) -- item

		   -- Auto fill in 
		   ,@ChangeDate,@ChangePerson
		   
		   ,@EmpID,@EmpName,@DepID,@DepName

           ,@Day1,@Day2,@Day3,@Day4,@Day5,@Day6,@Day7,@Day8,@Day9,@Day10
		   ,@Day11,@Day12,@Day13,@Day14,@Day15,@Day16,@Day17,@Day18,@Day19,@Day20
           ,@Day21,@Day22,@Day23,@Day24,@Day25,@Day26,@Day27,@Day28,@Day29,@Day30
           ,@Day31
           ,@DepID1,@DepID2,@DepID3,@DepID4,@DepID5,@DepID6,@DepID7,@DepID8,@DepID9,@DepID10
		   ,@DepID11,@DepID12,@DepID13,@DepID14,@DepID15,@DepID16,@DepID17,@DepID18,@DepID19,@DepID20
		   ,@DepID21,@DepID22,@DepID23,@DepID24,@DepID25,@DepID26,@DepID27,@DepID28,@DepID29,@DepID30
		   ,@DepID31

		   -- default value
		   ,@TotalMorning,@TotalNoon,@TotalAllDay,@TotalBreak,@Flag
           ,@CheckEmpID,@CheckDate
		   )
	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO