SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpClockInUpdPunchJob]
-- Desc：更新員工打卡資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/5 13:22
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/5 13:22
-- 
-- SAMPLE：
/*
SELECT * FROM EmpClockIn WHERE EMPID = 'moon'

DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpClockInUpdPunchJob]
		@EmpID = N'moon',
		@ClockStore = '010',
		@OldClockDate = '20220701',
		@OldClockTime = '16:21:23',

		@Holiday = '外出',
		@ClockDate = '20220701',
		@ClockTime = '16:21:23',
		@Modifier = 'test',

		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpClockInUpdPunchJob]
	(
	@EmpID AS VARCHAR(4) ,
	@ClockStore AS VARCHAR(8),
	@OldClockDate AS VARCHAR(8),
	@OldClockTime AS VARCHAR(8),

	@Holiday AS VARCHAR(20),
	@ClockDate AS VARCHAR(8),
	@ClockTime AS VARCHAR(8),
	@Modifier AS VARCHAR(4),

	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	--DECLARE 
	--@EmpID AS VARCHAR(4) = 'mon',
	--@ClockStore AS VARCHAR(8) = '010',
	--@OldClockDate AS VARCHAR(8) = '20220701',
	--@OldClockTime AS VARCHAR(8) = '16:20:36',

	--@Holiday AS VARCHAR(20) = '外出',
	--@ClockDate AS VARCHAR(20) = '20220701',
	--@ClockTime AS VARCHAR(20) = '16:20:36',
	--@Modifier  AS VARCHAR(4) = 'test'
	
	--Initial Variablies*******************************************************
	DECLARE @ChangeDate AS VARCHAR(8) = convert(varchar, getdate(), 112) 
	DECLARE @ChangeTime AS VARCHAR(8) = convert(varchar, getdate(), 108) 

	--Check Parameters*********************************************************
	IF NOT EXISTS( 
		SELECT 1 FROM EmpClockIn 
		WHERE EmpID = @EmpID and ClockStore = @ClockStore
		AND ClockDate = @OldClockDate AND ClockTime = @OldClockTime
	) BEGIN
		SET @O_MSG = '打卡資料不存在。' + '卡號:' + @EmpID + '；店櫃編號:' + @ClockStore + '；打卡日期:' + @OldClockDate + '；打卡時間:' + @OldClockTime 
		RETURN
	END

	--上班、下班不可重覆打卡
	IF (@Holiday in ('上班', '下班')) BEGIN
		IF EXISTS(Select Top 1 EmpID From EmpClockIn Where EmpID=@EmpID And ClockStore=@ClockStore And ClockDate=@ClockDate And Holiday=@Holiday) BEGIN
			Set @O_MSG='此員工' + @ClockDate + ' ' + @Holiday + '已打卡，不可重覆打卡!'
			RETURN  
		END
	END

	--BIZ**********************************************************************
	UPDATE EmpClockIn
	   SET 
		   Holiday = @Holiday,
		   ClockDate = @ClockDate, 
		   ClockTime = @ClockTime,
		   ChangePerson = @Modifier,
		   ChangeDate = @ChangeDate
	WHERE EmpID = @EmpID 
	  AND ClockStore = @ClockStore
	  AND ClockDate = @OldClockDate 
	  AND ClockTime = @OldClockTime

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO