SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpClockInGetPunchJobList]
-- Desc：撈取員工打卡資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/4 16:22
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/4 16:22
-- 
-- SAMPLE：
/*
DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpClockInGetPunchJobList]
		@ClockStore = '010',
		@clockDate_ST = N'20210601',
		@clockDate_ED = N'20220731',
		@clockTime_ST = N'00:00:00',
		@clockTime_ED = N'23:59:59',
		@PunchType = 0,
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpClockInGetPunchJobList]
	(
	@EmpID AS VARCHAR(20) = '',
	@EmpName AS VARCHAR(20) = '',
	@ClockStore AS VARCHAR(20),
	@clockDate_ST AS VARCHAR(20) = '',
	@clockDate_ED AS VARCHAR(20) = '',
	@clockTime_ST AS VARCHAR(20) = '',
	@clockTime_ED AS VARCHAR(20) = '',
	--/// 0不拘；1上班；2下班；3外出；4返回；5進入；6離開
	@PunchType AS integer = 0,
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	-- DECLARE 
	-- 	@EmpID AS VARCHAR(20) = '',
	-- 	@EmpName AS VARCHAR(20) = '',
	-- 	@ClockStore AS VARCHAR(20) = '010',
	-- 	@clockDate_ST AS VARCHAR(20) = '20220627',
	-- 	@clockDate_ED AS VARCHAR(20) = '20220701',
	-- 	@clockTime_ST AS VARCHAR(20) = '00:00:00',
	-- 	@clockTime_ED AS VARCHAR(20) = '23:59:59',
	-- 	@PunchType AS integer = 0

	--Initial Variablies*******************************************************

	DECLARE @Holiday NVARCHAR(8) = ''
	;
	WITH
		PunchTypeName(id, value)
		AS
		(
																						SELECT
					1 AS id, '上班' AS value
			UNION ALL
				SELECT 2, '下班'
			UNION ALL
				SELECT 3, '外出'
			UNION ALL
				SELECT 4, '返回'
			UNION ALL
				SELECT 5, '進入'
			UNION ALL
				SELECT 6, '離開'
			UNION ALL
				SELECT 0, '不拘'
		)
	SELECT @Holiday = value
	FROM PunchTypeName
	WHERE id=@PunchType

	--Check Parameters*********************************************************
	IF (IsNull(@Holiday, '') = '') BEGIN
		Set @O_MSG = '打卡方式錯誤>>' + CAST(@PunchType AS VARCHAR(2))
		RETURN
	END

	--BIZ**********************************************************************
	SELECT
		B.empID
		, B.empName
		, A.clockStore
		, A.clockDate
		, A.holiday
		, A.clockTime 
		, A.clockDate AS oldClockDate
		, A.clockTime AS oldClockTime
	FROM EmpClockIn AS A LEFT JOIN Employee AS B ON A.EmpID=B.EmpID
	WHERE 1=1
		AND A.EmpID like '%' + @EmpID + '%'
		AND B.EmpName like '%' + @EmpName + '%'
		AND (IsNull(@ClockStore, '') = '' OR A.ClockStore = @ClockStore)
		AND A.ClockDate + A.ClockTime >= @clockDate_ST + @clockTime_ST
		AND A.ClockDate + A.ClockTime <= @clockDate_ED + @clockTime_ED
		AND (A.Holiday = @Holiday OR @PunchType = 0)

		-- @clockDate_ST @clockDate_ED
		--AND 1 = (CASE 
		--	WHEN (IsNull(@clockDate_ST, '') = '' AND IsNull(@clockDate_ED, '') = '') THEN 1
		--	WHEN (IsNull(@clockDate_ED, '') = '' AND IsNull(@clockDate_ST, '') != '' AND A.ClockDate = @clockDate_ST) THEN 1
		--	WHEN (IsNull(@clockDate_ST, '') = '' AND IsNull(@clockDate_ED, '') != '' AND A.ClockDate = @clockDate_ED) THEN 1
		--	WHEN (IsNull(@clockDate_ST, '') != '' AND IsNull(@clockDate_ED, '') != '' 
		--		AND A.ClockDate BETWEEN @clockDate_ST AND @clockDate_ED ) THEN 1
		--	ELSE 2 END)
		---- @clockTime_ST @clockTime_ED
		--AND 1 = (CASE 
		--	WHEN (IsNull(@clockTime_ST, '') = '' AND IsNull(@clockTime_ED, '') = '') THEN 1
		--	WHEN (IsNull(@clockTime_ED, '') = '' AND IsNull(@clockTime_ST, '') != '' AND A.ClockTime = @clockTime_ST) THEN 1
		--	WHEN (IsNull(@clockTime_ST, '') = '' AND IsNull(@clockTime_ED, '') != '' AND A.ClockTime = @clockTime_ED) THEN 1
		--	WHEN (IsNull(@clockTime_ST, '') != '' AND IsNull(@clockTime_ED, '') != '' 
		--		AND A.ClockTime BETWEEN @clockTime_ST AND @clockTime_ED ) THEN 1
		--	ELSE 2 END)

	ORDER BY A.EmpID, A.ClockDate DESC --, A.ClockTime 

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO