USE [TEST5_NEW]
GO
/****** Object:  StoredProcedure [POVWeb].[uspTransferOutDel]    Script Date: 2022/12/14 下午 06:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspIncomingGoodsDel]
-- Desc：廠商進貨作業-刪除資料
-- Author：MoonFeng
-- LastModifyDTM：2022/12/14 14:56
-- Modify History：
-- 1. Initial. MoonFeng@2022/12/14 14:56
-- 
-- SAMPLE：
/*
DECLARE	@;THROW 6636001, @O_MSG, 1;_value int,
		@O_MSG nvarchar(100)=''

EXEC	@;THROW 6636001, @O_MSG, 1;_value = [POVWeb].[uspEmpOnDutyDelEmpOnDuty]
		@YearMonth = N'20227',
		@Item = 2,
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	';THROW 6636001, @O_MSG, 1; Value' = @;THROW 6636001, @O_MSG, 1;_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspIncomingGoodsDel] 
(
	@StockId VARCHAR(20)
	, @Editor VARCHAR(16)
	, @O_MSG NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	--DECLARE	@YearMonth VARCHAR(8) = '202207'

	--Initial Variablies*******************************************************
	DECLARE 
		@TaskTitle NVARCHAR(128) = '廠商進貨作業'
		, @ModifyDT VARCHAR(8) = convert(varchar, getdate(), 112)
		,  @TempString NVARCHAR(MAX) = ''

	--Check Parameters*********************************************************
	-- 填單人員 FillPerson
	IF NOT EXISTS(Select EmpName From Employee Where EmpID=@Editor) BEGIN
		SET @O_MSG = '員工代號輸入錯誤：' + @Editor
		;THROW 6636001, @O_MSG, 1;
	END

	--找不到進貨作業表頭單號，直接;THROW 6636001, @O_MSG, 1;
	IF NOT EXISTS(SELECT 1 FROM Stock WHERE StockId = @StockId) BEGIN
		SET @O_MSG = '找不到' + @TaskTitle + '表頭單號：' + @StockId
		;THROW 6636001, @O_MSG, 1;
	END

	--找不到進貨作業表身單號，直接;THROW 6636001, @O_MSG, 1;
	IF NOT EXISTS(SELECT 1 FROM StockDetail WHERE StockId = @StockId) BEGIN
		SET @O_MSG = '找不到' + @TaskTitle + '表身單號：' + @StockId
		;THROW 6636001, @O_MSG, 1;
	END

	--BIZ**********************************************************************
	BEGIN TRY
		BEGIN TRANSACTION;

		-- 處理暫存檔，待提供資料


		-- 刪除調撥資料檔
		DELETE FROM Stock WHERE StockID = @StockID
		DELETE FROM StockDetail WHERE StockID = @StockID

        COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;

		--SELECT 
		--	ERROR_NUMBER() AS ErrorNumber
		--	, ERROR_SEVERITY() AS ErrorSeverity
		--	, ERROR_STATE() AS ErrorState
		--	, ERROR_PROCEDURE() AS ErrorProcedure
		--	, ERROR_LINE() AS ErrorLine
		--	, ERROR_MESSAGE() AS ErrorMessage

		SET @O_MSG = @TaskTitle + '-刪除資料失敗。' + ERROR_MESSAGE() 
		;THROW 6636001, @O_MSG, 1;

	END CATCH	

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
