SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpOnDutyDelEmpOnDutyItem]
-- Desc：刪除員工排班資料
-- Author：MoonFeng
-- LastModifyDTM：2022/7/18 16:25
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/18 16:25
-- 
-- SAMPLE：
/*
DECLARE	@return_value int,
		@O_MSG nvarchar(100)=''

EXEC	@return_value = [POVWeb].[uspEmpOnDutyDelEmpOnDuty]
		@YearMonth = N'20227',
		@Item = 2,
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

CREATE PROCEDURE [POVWeb].[uspEmpOnDutyDelEmpOnDuty]
	(
	@YearMonth AS VARCHAR(6) = '',
	@Item AS INTEGER,
	@Modifier AS VARCHAR(8) = '',
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************
	--DECLARE	@YearMonth VARCHAR(8) = '202207'

	--Initial Variablies*******************************************************


	--Check Parameters*********************************************************
	IF NOT EXISTS (SELECT TOP 1 ITEM FROM EmpOnDuty WHERE YearMonth = @YearMonth AND Item = @Item) BEGIN
		Set @O_MSG = '無此資料>>' + @YearMonth + ' 項次：' + CAST(@Item AS VARCHAR(2))
		RETURN
	END

	--BIZ**********************************************************************
	-- Del empDuty Item
	DELETE
	FROM EmpOnDuty
	WHERE YearMonth = @YearMonth 
		AND Item = @Item

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO