SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--*********************************************************
-- Name：[POVWeb].[uspEmpDutyTypeSetupGetHelp]
-- Desc：撈取班別代碼-線上輔助查詢用；
-- Author：MoonFeng
-- LastModifyDTM：2022/7/13 16:29
-- Modify History：
-- 1. Initial. MoonFeng@2022/7/13 16:29
-- 
-- SAMPLE：
/*
DECLARE	@return_value int,
		@O_MSG nvarchar(100)

EXEC	@return_value = [POVWeb].[uspEmpClockInGetPunchJobList]
		@ClockStore = '010',
		@clockDate_ST = N'20210601',
		@clockDate_ED = N'20220731',
		@clockTime_ST = N'00:00:00',
		@clockTime_ED = N'23:59:59',
		@PunchType = 0,
		@O_MSG = @O_MSG OUTPUT

SELECT	@O_MSG as N'@O_MSG'

SELECT	'Return Value' = @return_value
*/
--*********************************************************

ALTER PROCEDURE [POVWeb].[uspEmpDutyTypeSetupGetHelp]
	(
	@O_MSG AS NVARCHAR(100) = N'' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	--Test Variablies*******************************************************

	--Initial Variablies*******************************************************

	--Check Parameters*********************************************************

	--BIZ**********************************************************************
	SELECT DutyID, DutyName, StOnDutyTime, StOffDutyTime
	FROM EmpDutyTypeSetup
	WHERE NOT (IsNull(DutyName, '') = '' 
				AND IsNull(StOnDutyTime, '') = '' 
				AND IsNull(StOffDutyTime, '') = '')
	ORDER BY DutyID

	--Result*******************************************************************

	SET NOCOUNT OFF;
END
GO