--*********************************************************
-- Name：[POVWeb].[uspPeersSalesAddItem]
-- Desc：新增同業業績資料
-- Author：MoonFeng
-- LastModifyDTM：2022/12/8 16:30
-- Memo：因資料表設計為Single Table, 故採用ORM更新資料。MoonFeng@2022/7/22 15:55
-- Modify History：
-- 1. Initial. MoonFeng@2022/12/8 16:30
-- 
-- SAMPLE：
/*

*/
--*********************************************************

USE [TEST5_NEW]
GO

/****** Object:  Table [dbo].[SimpleBranchAchieve]    Script Date: 2022/12/8 下午 04:31:53 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [POVWeb].[uspPeersSalesAddItem]
	(
	--Data
	@SerialID VARCHAR(13),
	@Item VARCHAR(3),
	@StoreID VARCHAR(15),
	@OccDate VARCHAR(8), 
	@BranchID VARCHAR(15), 
	@Amount FLOAT,
	@FillPerson VARCHAR(4),
	/* Auto fill in columns
	@FillPerson VARCHAR(4) NOT NULL, -- @Editor
	@ChangePerson AS VARCHAR(4) NOT NULL, -- @Editor
	@BranchName AS VARCHAR(40) NOT NULL, -- SELECT ClientShort FROM Client WHERE ClientID = @DepID
	@ChangeDate AS VARCHAR(8) NOT NULL, -- CONVERT(VARCHAR, GETDATE(), 112) 
	*/
	@Editor VARCHAR(4)
)
AS
BEGIN
	SET NOCOUNT ON;
	--Test Variablies*******************************************************
	DECLARE @O_MSG VARCHAR(128) = ''

	--Check Parameters*********************************************************
	IF NOT EXISTS(SELECT 'Y' FROM Employee WHERE EmpID = @Editor) BEGIN
		SET @O_MSG = '無此員工編號>>' + @Editor
		;THROW 6636001, @O_MSG, 1;
	END

	IF NOT EXISTS(SELECT 'Y' FROM Client WHERE ClientID = @StoreID) BEGIN
		SET @O_MSG = '無此店櫃代號>>' + @StoreID
		;THROW 6636001, @O_MSG, 1;
	END

	DECLARE	@BranchName VARCHAR(40) = (SELECT TOP 1 ClientShort FROM OtherProc WHERE ClientID = @BranchID AND Reside = @StoreID)
	IF ISNULL(@BranchName, '') = '' BEGIN
		SET @O_MSG = '店櫃[' + @StoreID + ']，無此同業編號>>' + @BranchID
		;THROW 6636001, @O_MSG, 1;
	END

	--Initial Variablies*******************************************************
	DECLARE	
		@ChangeDate VARCHAR(20) = CONVERT(VARCHAR, GETDATE(), 112),
		@ChangePerson VARCHAR(4) = @Editor
	
	-- 檢查SerialID 與 Item是否重覆
	IF EXISTS(SELECT 1 FROM SimpleBranchAchieve WHERE SerialID = @SerialID AND Item = @Item) BEGIN
		SET @O_MSG = 'SerialID[' + @SerialID +']；Item[' + @Item +'] 不可重覆!'
		;THROW 6636001, @O_MSG, 1;
	END

	IF ISNULL(@FillPerson, '') = '' BEGIN
		SET @FillPerson = @Editor
	END
	
	--BIZ**********************************************************************
	  INSERT INTO SimpleBranchAchieve (
			-- PK
			[SerialID]
			,[Item]
			-- Data
			,[StoreID], [OccDate], [FillPerson],[BranchID],[Amount]
			,[ChangeDate], [ChangePerson],[BranchName]
		   )
     VALUES (
			-- PK
			@SerialID, @Item
			-- Data
			,@StoreID, @OccDate, @FillPerson, @BranchID, @Amount
			,@ChangeDate, @ChangePerson, @BranchName
		   )
	--Result*******************************************************************

	SET NOCOUNT OFF;
END
